.main_s {
    &__titulo {
        text-align: center;
        font-size: 90px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    &__container {
        height: 500px;
        width: 95%;
        margin: auto;
        margin-top: 50px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.349);
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        div {
            width: 50%;

            p {
                margin: 10px;
                line-height: 50px;
            }

            .p1 {
                font-size: 45px;
            }

            .p2 {
                font-size: 35px;
            }
        }

        iframe {
            width: 50%;
            height: 100%;
        }
    }

    .c2 {
        margin-bottom: 80px;
    }
}

@media (max-width: 900px) {
    .main_s__container {
        width: 100%;
        height: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        iframe {
            width: 100%;
            height: 50%;
        }
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    .main_s__titulo {
        font-size: 60px;
        margin-bottom: 0px;
    }

    .c1 {
        margin-top: 20px;
    }

    .main_s__container div {
        .p1 {
            font-size: 35px;
        }

        .p2 {
            font-size: 25px;
        }
    }
}

@media (max-width: 576px) {
    .main_s__titulo {
        font-size: 50px;
        margin-bottom: 0px;
    }

    .c1 {
        margin-top: 20px;
    }

    .main_s__container div {
        .p1 {
            font-size: 30px;
        }

        .p2 {
            font-size: 20px;
        }
    }
}